<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 2e39b215fe0d147c5dce83c0e4216552747eb5ff Maintainer: ae Status: ready --><!-- CREDITS: royopa,diegopires,fabioluciano,ae -->

<reference xml:id="context" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <title>Opções e parâmetros de contexto</title>

 <partintro>
  <para>
   O PHP oferece várias opções e parâmetros de contexto que podem ser usados com
   todos os sistemas de arquivos e empacotadores de streams. O contexto é criado com a função
   <function>stream_context_create</function>. As opções são definidas com a função
   <function>stream_context_set_option</function> e os parâmetros com a função
   <function>stream_context_set_params</function>.
  </para>
 </partintro>

 &language.context.socket;
 &language.context.http;
 &language.context.ftp;
 &language.context.ssl;
 &language.context.phar;
 &language.context.parameters;
 &language.context.zip;
 &language.context.zlib;

</reference>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->

