<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: 5564c64a6cafa5bc7325afe8555562df469fc6a0 Maintainer: leonardolara Status: ready -->
<chapter xml:id="mysqlnd.config" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">

  &reftitle.runtime;
  &extension.runtime;

  <para>
  <table xml:id="mysqlnd.config.options">
   <title>Opções de configuração do Driver Nativo MySQL</title>
   <tgroup cols="4">
    <thead>
     <row>
      <entry>&Name;</entry>
      <entry>&Default;</entry>
      <entry>&Changeable;</entry>
      <entry>&Changelog;</entry>
     </row>
    </thead>
    <tbody xml:id="mysqlnd.config.options.list">
     <row>
      <entry><link linkend="ini.mysqlnd.collect-statistics">mysqlnd.collect_statistics</link></entry>
      <entry>"1"</entry>
      <entry><constant>INI_SYSTEM</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.collect-memory-statistics">mysqlnd.collect_memory_statistics</link></entry>
      <entry>"0"</entry>
      <entry><constant>INI_SYSTEM</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.debug">mysqlnd.debug</link></entry>
      <entry>""</entry>
      <entry><constant>INI_SYSTEM</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.log-mask">mysqlnd.log_mask</link></entry>
      <entry>0</entry>
      <entry><constant>INI_ALL</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.mempool-default-size">mysqlnd.mempool_default_size</link></entry>
      <entry>16000</entry>
      <entry><constant>INI_ALL</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.net-read-timeout">mysqlnd.net_read_timeout</link></entry>
      <entry>"86400"</entry>
      <entry><constant>INI_ALL</constant></entry>
      <entry>
       Antes do PHP 7.2.0 o padrão era "31536000"
       e a mutabilidade era <constant>INI_SYSTEM</constant>
      </entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.net-cmd-buffer-size">mysqlnd.net_cmd_buffer_size</link></entry>
      <entry>"4096"</entry>
      <entry><constant>INI_SYSTEM</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.net-read-buffer-size">mysqlnd.net_read_buffer_size</link></entry>
      <entry>"32768"</entry>
      <entry><constant>INI_SYSTEM</constant></entry>
      <entry></entry>
     </row>
     <row>
      <entry><link linkend="ini.mysqlnd.sha256-server-public-key">mysqlnd.sha256_server_public_key</link></entry>
      <entry>""</entry>
      <entry><constant>INI_PERDIR</constant></entry>
      <entry></entry>
     </row>
      <row>
       <entry><link linkend="ini.mysqlnd.trace-alloc">mysqlnd.trace_alloc</link></entry>
       <entry>""</entry>
       <entry><constant>INI_SYSTEM</constant></entry>
       <entry></entry>
      </row>
     <row>
      <entry><link linkend="ini.mysqlnd.fetch_data_copy">mysqlnd.fetch_data_copy</link></entry>
      <entry>0</entry>
      <entry><constant>INI_ALL</constant></entry>
      <entry>Removida a partir do PHP 8.1.0</entry>
     </row>
    </tbody>
   </tgroup>
  </table>
  &ini.php.constants;
 </para>

  &ini.descriptions.title;

  <para>
  <variablelist>
   <varlistentry xml:id="ini.mysqlnd.collect-statistics">
    <term>
     <parameter>mysqlnd.collect_statistics</parameter>
     <type>bool</type>
    </term>
    <listitem>
     <para>
      Permite a coleta de várias estatísticas de clientes que podem ser
      acessadas através de <function>mysqli_get_client_stats</function> e
      <function>mysqli_get_connection_stats</function>
      e também são mostradas na
      seção <literal>mysqlnd</literal> da saída da
      função <function>phpinfo</function>.
     </para>
     <para>
      Esta configuração ativa todas as
      <link linkend="mysqlnd.stats">estatísticas do Driver Nativo
      MySQL</link> exceto aquelas relacionadas ao gerenciamento de memória.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.collect-memory-statistics">
    <term>
     <parameter>mysqlnd.collect_memory_statistics</parameter>
     <type>bool</type>
    </term>
    <listitem>
     <para>
      Permite a coleta de várias estatísticas de clientes que podem ser
      acessadas através de <function>mysqli_get_client_stats</function> e
      <function>mysqli_get_connection_stats</function>
      e também são mostradas na
      seção <literal>mysqlnd</literal> da saída da
      função <function>phpinfo</function>.
     </para>
     <para>
      Esta definição de configuração ativa as estatísticas de gerenciamento
      de memória dentro do conjunto geral de
      <link linkend="mysqlnd.stats">estatísticas do Driver Nativo
      MySQL</link>.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.debug">
    <term>
     <parameter>mysqlnd.debug</parameter> <type>string</type>
    </term>
    <listitem>
     <para>
      Grava a comunicação de todas as extenões que usam
      <literal>mysqlnd</literal> para o arquivo de registro especificado.
     </para>
     <para>
      O formato da diretiva é <literal>mysqlnd.debug =
      "opção1[,parâmetro_opção1][:opção2[,parâmetro_opção2]]"</literal>.
     </para>
     <para>
      As opções para a string de formato são as seguintes:
     </para>
     <itemizedlist>
      <listitem>
       <para>
        A[,arquivo] - Acrescenta saída de rastreamento ao arquivo especificado. Também garante
        que os dados sejam gravados após cada gravação. Isso é feito fechando
        e reabrindo o arquivo de rastreamento (isso é lento). Isso ajuda a garantir um
        arquivo de registro completo caso o aplicativo falhe.
       </para>
      </listitem>
      <listitem>
       <para>
        a[,arquivo] - Acrescenta saída de rastreamento ao arquivo especificado.
       </para>
      </listitem>
      <listitem>
       <para>
        d - Ativa a saída de macros DBUG_&lt;N&gt; para o estado
        atual. Pode ser seguido por uma lista de palavras-chave que seleciona
        a saída apenas para as macros DBUG com essa palavra-chave. Uma lista vazia
        de palavras-chave implica em saída para todas as macros.
       </para>
      </listitem>
      <listitem>
       <para>
        f[,funções] - Limita as ações do depurador à lista de funções
        especificada. Uma lista vazia de funções implica em que todas as funções
        são selecionadas.
       </para>
      </listitem>
      <listitem>
       <para>
        F - Marca cada linha de saída do depurador com o nome do arquivo
        de origem que contém a macro que causa a saída.
       </para>
      </listitem>
      <listitem>
       <para>
        i - Marca cada linha de saída do depurador com o PID do processo
        atual.
       </para>
      </listitem>
      <listitem>
       <para>
        L - Marca cada linha de saída do depurador com o nome do número da linha do arquivo
        de origem da macro que causa a saída.
       </para>
      </listitem>
      <listitem>
       <para>
        n - Marca cada linha de saída do depurador com a profundidade de aninhamento
        da função atual.
       </para>
      </listitem>
      <listitem>
       <para>
        o[,arquivo] - Similar a a[,arquivo] mas sobrescreve o arquivo antigo, e não
        anexa.
       </para>
      </listitem>
      <listitem>
       <para>
        O[,arquivo] - Similar a A[,arquivo] mas sobrescreve o arquivo antigo, e não
        anexa.
       </para>
      </listitem>
      <listitem>
       <para>
        t[,N] - Ativa o rastreamento de fluxo de controle de função. A profundidade
        máxima de aninhamento é especificada por N e o padrão é 200.
       </para>
      </listitem>
      <listitem>
       <para>
        x - Este opção ativa a criação de perfil de código.
       </para>
      </listitem>
       <listitem>
       <para>
        m - Rastreia chamadas relacionadas à alocação e desalocação de memória.
       </para>
      </listitem>
     </itemizedlist>
     <para>
      Example:
     </para>
     <programlisting>
<![CDATA[
d:t:x:O,/tmp/mysqlnd.trace
]]>
     </programlisting>
     <note>
      <para>
       Este recurso está disponível apenas com uma compilação de depuração do PHP.
      </para>
     </note>
     <para></para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.log-mask">
    <term>
     <parameter>mysqlnd.log_mask</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      Define quais consultas serão registradas. O padrão é 0, que desativa o registro.
      Defina usando um número inteiro e não com constantes PHP. Por exemplo, um valor de
      48 (16 + 32) registrará consultas lentas que usam 'nenhum índice bom'
      (SERVER_QUERY_NO_GOOD_INDEX_USED = 16) ou nenhum índice (SERVER_QUERY_NO_INDEX_USED = 32).
      Um valor de 2.043 (1 + 2 + 8 + ... + 1.024) registrará todos os tipos de consulta lenta.
     </para>
     <para>
      Os tipos são os seguintes: SERVER_STATUS_IN_TRANS=1, SERVER_STATUS_AUTOCOMMIT=2,
      SERVER_MORE_RESULTS_EXISTS=8, SERVER_QUERY_NO_GOOD_INDEX_USED=16, SERVER_QUERY_NO_INDEX_USED=32,
      SERVER_STATUS_CURSOR_EXISTS=64, SERVER_STATUS_LAST_ROW_SENT=128, SERVER_STATUS_DB_DROPPED=256,
      SERVER_STATUS_NO_BACKSLASH_ESCAPES=512 e SERVER_QUERY_WAS_SLOW=1024.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.mempool-default-size">
    <term>
     <parameter>mysqlnd.mempool_default_size</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      Tamanho padrão do pool de memória mysqlnd, que é usado pelos conjuntos de resultados.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.net-read-timeout">
    <term>
     <parameter>mysqlnd.net_read_timeout</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      <literal>mysqlnd</literal> e a Biblioteca Cliente MySQL,
      <literal>libmysqlclient</literal> usam APIs de rede diferentes.
      <literal>mysqlnd</literal> usa fluxos PHP, enquanto
      <literal>libmysqlclient</literal> usa seus próprio encapsulador em torno
      das chamadas de rede de nível operacional. O PHP, por padrão, define um tempo
      limite de leitura de 60s para fluxos. Isso é definido via
      <filename>php.ini</filename>,
      <literal>default_socket_timeout</literal>. Esse padrão se aplica a
      todos os fluxos que não definem nenhum outro valor de tempo limite.
      <literal>mysqlnd</literal> não define nenhum outro valor e,
      portanto, conexões de consultas de longa execução podem ser desconectadas
      após <literal>default_socket_timeout</literal> segundos, resultando
      em uma mensagem de erro <quote>2006 - MySQL Server has gone
      away</quote>. A biblioteca cliente MySQL define um tempo limite padrão de
      24 * 3600 segundos (1 dia) e espera que outros tempos limite
      ocorram, como tempos limites de TCP/IP. <literal>mysqlnd</literal> agora
      usa o mesmo tempo limite muito longo. O valor é configurável através
      de uma nova configuração <filename>php.ini</filename>:
      <literal>mysqlnd.net_read_timeout</literal>.
      <literal>mysqlnd.net_read_timeout</literal> é usado por qualquer
      extensão (<literal>ext/mysql</literal>,
      <literal>ext/mysqli</literal>, <literal>PDO_MySQL</literal>) que
      usa <literal>mysqlnd</literal>. <literal>mysqlnd</literal> diz
      aos fluxos PHP para usar <literal>mysqlnd.net_read_timeout</literal>.
      Favor observar que pode haver diferenças sutis entre
      <literal>MYSQL_OPT_READ_TIMEOUT</literal> da Biblioteca Cliente
      MySQL e fluxos PHP, por exemplo
      <literal>MYSQL_OPT_READ_TIMEOUT</literal> está documentado para funcionar
      apenas para conexões TCP/IP e, antes do MySQL 5.1.2, apenas para
      Windows. Os fluxos PHP podem não ter essa limitação. Por favor,
      verifique a documentação dos fluxos, em caso de dúvida.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.net-cmd-buffer-size">
    <term>
     <parameter>mysqlnd.net_cmd_buffer_size</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      <literal>mysqlnd</literal> aloca um buffer interno de comando/rede
      de <literal>mysqlnd.net_cmd_buffer_size</literal> (no
      <filename>php.ini</filename>) bytes para cada conexão. Se um
      comando do protocolo MySQL cliente-servidor, por exemplo,
      <literal>COM_QUERY</literal> (consulta <quote>normal</quote>), não
      couber no buffer, <literal>mysqlnd</literal> aumentará o
      buffer ao tamanho necessário para enviar o comando. Sempre que o
      buffer for estendido para uma conexão,
      <literal>command_buffer_too_small</literal> será incrementado em
      um.
     </para>
     <para>
      Se <literal>mysqlnd</literal> tiver que aumentar o buffer além do
      tamanho inicial de <literal>mysqlnd.net_cmd_buffer_size</literal>
      bytes para quase todas as conexões, você deve considerar aumentar
      o tamanho padrão para evitar realocações.
     </para>
     <para>
      O tamanho do buffer padrão é 4.096 bytes, que é o menor valor possível.
     </para>
     <para>
      O valor também pode ser definido usando <literal>mysqli_options(link,
      MYSQLI_OPT_NET_CMD_BUFFER_SIZE, size)</literal>.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.net-read-buffer-size">
    <term>
     <parameter>mysqlnd.net_read_buffer_size</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      Tamanho máximo do bloco de leitura em bytes ao ler o corpo de um pacote
      de comando MySQL. O protocolo cliente-servidor MySQL encapsula todos
      os seus comandos em pacotes. Os pacotes consistem em um pequeno cabeçalho e
      um corpo com a carga útil real. O tamanho do corpo está codificado no
      cabeçalho. <literal>mysqlnd</literal> lê o corpo em pedaços de
      <literal>MIN(header.size, mysqlnd.net_read_buffer_size)</literal>
      bytes. Se o corpo de um pacote for maior que
      <literal>mysqlnd.net_read_buffer_size</literal> bytes,
      <literal>mysqlnd</literal> terá que chamar <literal>read()</literal>
      múltiplas vezes.
     </para>
     <para>
      O valor também pode ser definido usando <literal>mysqli_options(link,
      MYSQLI_OPT_NET_READ_BUFFER_SIZE, size)</literal>.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.sha256-server-public-key">
    <term>
     <parameter>mysqlnd.sha256_server_public_key</parameter>
     <type>string</type>
    </term>
    <listitem>
     <para>
      Relacionado ao plug-in de autenticação SHA-256. Arquivo com a chave RSA
      pública do servidor MySQL.
     </para>
     <para>
      Os clientes podem omitir a configuração de uma chave RSA pública, especificar a chave através
      desta configuração do PHP ou definir a chave em tempo de execução usando
      <function>mysqli_options</function>. Se nenhum arquivo de chave RSA pública for
      fornecido pelo cliente, a chave será trocada como parte do
      procedimento de autenticação padrão do plug-in de autenticação SHA-256.
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.trace-alloc">
    <term>
     <parameter>mysqlnd.trace_alloc</parameter>
     <type>string</type>
    </term>
    <listitem>
     <para>
     </para>
    </listitem>
   </varlistentry>
   <varlistentry xml:id="ini.mysqlnd.fetch_data_copy">
    <term>
     <parameter>mysqlnd.fetch_data_copy</parameter>
     <type>int</type>
    </term>
    <listitem>
     <para>
      Impõe cópia de conjuntos de resultados dos buffers internos
      do conjunto de resultados em variáveis ​​PHP em vez de usar a referência
      padrão e a lógica de cópia na gravação. Por favor, veja as
      <link linkend="mysqlnd.memory">notas de implementação de gerenciamento de memória</link>
      para mais detalhes.
     </para>
     <para>
      Copiar conjuntos de resultados em vez de fazer referência a variáveis ​​PHP
      permite liberar a memória ocupada pelas variáveis ​​PHP anteriormente.
      Dependendo do código da API do usuário, das consultas reais do banco de dados e do
      tamanho de seus conjuntos de resultados, isso pode reduzir o consumo de memória
      do mysqlnd.
     </para>
     <para>
      Não defina se estiver usando PDO_MySQL. PDO_MySQL ainda não foi atualizado para suportar
      o novo modo de busca.
     </para>
    <note>
     <simpara>Removido a partir do PHP 8.1.0</simpara>
    </note>
    </listitem>
   </varlistentry>
  </variablelist>
 </para>
</chapter>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
