<?xml version="1.0" encoding="iso-8859-1"?>
<!-- EN-Revision: 1.15 Maintainer: fernandoc Status: ready -->
<refentry xml:id="function.system" xmlns="http://docbook.org/ns/docbook">
 <refnamediv>
  <refname>system</refname>
  <refpurpose>Executa um programa externo e mostra a saída</refpurpose>
 </refnamediv>

 <refsect1 role="description">
  &reftitle.description;
  <methodsynopsis>
   <type>string</type><methodname>system</methodname>
   <methodparam><type>string</type><parameter>command</parameter></methodparam>
   <methodparam choice="opt"><type>int</type><parameter role="reference">return_var</parameter></methodparam>
  </methodsynopsis>
  <para>
   <function>system</function> é igual a versão C desta função no que executa
   o <parameter>command</parameter> indicado e mostra o resultado.
  </para>
  <para>
   A função <function>system</function> também tenta automaticamente
   limpar o buffer de saída do servidor mandando os dados para o browser 
   após cada linha de saída se o PHP estiver sendo executado como módulo de servidor.
  </para>
  <para>
   Se você precisa executar um comando e ter todos os dados do comando
   passados sem nenhuma interferencia, use a função
   <function>passthru</function>.
  </para>
 </refsect1>

 <refsect1 role="parameters">
  &reftitle.parameters;
  <para>
   <variablelist>
    <varlistentry>
     <term><parameter>command</parameter></term>
     <listitem>
      <para>
       O comando que será executado.
      </para>
     </listitem>
    </varlistentry>
    <varlistentry>
     <term><parameter>return_var</parameter></term>
     <listitem>
      <para>
       Se o argumento <parameter>return_var</parameter> é fornecido, então o
       status de retorno do comando executado será escrito para esta
       variável.
      </para>
     </listitem>
    </varlistentry>
   </variablelist>
  </para>
 </refsect1>

 <refsect1 role="returnvalues">
  &reftitle.returnvalues;
  <para>
   Retorna a última linha da saída do comando em sucesso, e &false;
   em falha.
  </para>
 </refsect1>

 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example>
    <title>Exemplo da <function>system</function></title>
    <programlisting role="php">
<![CDATA[
<?php
echo '<pre>';

// Mostra todo o resultado do comando do shell "ls", e retorna
// a última linha da saída em $last_line. Guarda o valor de retorno
// do comando shell em $retval.
$last_line = system('ls', $retval);

// Mostrando informação adicional
echo '
</pre>
<hr />Última linha da saída: '.$last_line.'
<hr />Valor de Retorno: '.$retval;
?>
]]>
    </programlisting>
   </example>
  </para>
 </refsect1>

 <refsect1 role="notes">
  &reftitle.notes;
  &warn.escapeshell;
  &note.exec-bg;
  &note.exec-path;
  &warn.sm.exec;
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><function>exec</function></member>
    <member><function>passthru</function></member>
    <member><function>popen</function></member>
    <member><function>escapeshellcmd</function></member>
    <member><function>pcntl_exec</function></member>
    <member><link linkend="language.operators.execution">operador backtick</link></member>
   </simplelist>
  </para>
 </refsect1>
</refentry>

<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"../../../../manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->
