<row><!-- EN-Revision: 3f75f75dcf86e42bc79d5753836fee49ea6a97be Maintainer: leonardolara Status: ready --><!-- CREDITS: leonardolara -->
  <entry>web.background</entry>
  <entry>inclui imagem de fundo na saída</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.loadImages</entry>
  <entry>inclui imagens na saída</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableJavascript</entry>
  <entry>habilita ou desabilita o javascript</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enableIntelligentShrinking</entry>
  <entry>permite tentar encaixar mais conteúdo na página, aplica-se apenas à saída PDF</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.minimumFontSize</entry>
  <entry>o tamanho mínimo de fonte permitido</entry>
  <entry>9</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.printMediaType</entry>
  <entry>imprime conteúdo usando o tipo de mídia de impressão em vez do tipo de mídia de tela</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.defaultEncoding</entry>
  <entry>conteúdo a ser usado onde nenhuma codificação é especificada</entry>
  <entry>utf-8</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.userStyleSheet</entry>
  <entry>URL ou caminho para uma folha de estilo especificada pelo usuário</entry>
  <entry>/path/to/style.css</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
<row>
  <entry>web.enablePlugins</entry>
  <entry>habilita ou desabilita plugins NS</entry>
  <entry>boolean</entry>
  <entry>&gt;= 0.1.0</entry>
</row>
