<?xml version="1.0" encoding="utf-8"?>
<!-- EN-Revision: b767006c8672c9e8ecec8429bb4f3be8889bde6b Maintainer: ae Status: ready --><!-- CREDITS: felipe,fabioluciano,adiel,ae -->

<phpdoc:varentry xmlns:phpdoc="http://php.net/ns/phpdoc" xml:id="reserved.variables.server" xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink">
 <refnamediv>
  <refname>$_SERVER</refname>
  <refpurpose>Informação do servidor e ambiente de execução</refpurpose>
 </refnamediv>

 <refsect1 role="description">
  &reftitle.description;
  <para>
   <varname>$_SERVER</varname> é um &array; contendo informação
   como headers, caminhos, e outras informações do script.
   As informações nesse array são criadas pelo servidor web específico, e portanto
   não há garantias que sempre existirá as mesmas informações,
   podendo algumas serem omitidas ou adicionadas em relação a lista a seguir.
   Entretanto, a maioria dessas variáveis são documentadas na
   <link xlink:href="&url.rfc;3875">especificação CGI/1.1</link>,
   e estão normalmente definidas.
  </para>
  <note>
   <simpara>
    Quando rodando o PHP na <link linkend="features.commandline">linha de comando</link>
    a maioria dessas informações não estarão disponíveis ou não terão qualquer sentido.
   </simpara>
  </note>
  <para>
   Além dos valores listados a seguir, o PHP irá criar itens adicionais
   com valores dos headers de requisição. Esses itens serão prefixados com
   <literal>HTTP_</literal> seguido do nome do header,
   capitalizados e com underlines ao invés de hifens.
   Por exemplo, o header <literal>Accept-Language</literal> estará disponível
   como <code>$_SERVER['HTTP_ACCEPT_LANGUAGE']</code>.
  </para>
 </refsect1>

 <refsect1 role="indices">
  &reftitle.indices;

  <para>
   <variablelist>
    <varlistentry>
     <term>'<varname>PHP_SELF</varname>'</term>
     <listitem>
      <simpara>
       O nome do arquivo do script que está executando, relativa à
       raiz do documento. Por exemplo,
       <varname>$_SERVER['PHP_SELF']</varname> em um script no
       endereço <filename>http://example.com/test.php/foo.bar</filename>
       seria <filename>/test.php/foo.bar</filename>.
       A constante <link linkend="language.constants.predefined">__FILE__</link>
       contém o caminho completo e nome do atual arquivo (possivelmente
       incluído).
      </simpara>
      <simpara>
       Se estiver rodando o PHP em linha de comando, esta variável contém
       o nome do script.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argv">argv</link>'</term>
     <listitem>
      <simpara>
       Array de argumentos passado para o script. Quando o script
       é executado na linha de comando, isto permite um acesso aos parâmetros
       de linha de comando no estilo do C. Quando chamado via método GET, ele
       conterá a query string.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<link linkend="reserved.variables.argc">argc</link>'</term>
     <listitem>
      <simpara>
       Contém o número de parâmetros da linha de comando passados para o
       script (se executando da linha de comando).
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>GATEWAY_INTERFACE</varname>'</term>
     <listitem>
      <simpara>
       O número de revisão da especificação CGI que o servidor está utilizando,
       por exemplo: <literal>CGI/1.1</literal>.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADDR</varname>'</term>
     <listitem>
      <simpara>
       O endereço IP do servidor onde está o script em
       execução.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_NAME</varname>'</term>
     <listitem>
      <simpara>
       O nome host do servidor onde o script atual é
       executado. Se o script está rodando em um host virtual, este
       será o valor definido para aquele host virtual.
      </simpara>
      <note>
       <simpara>
        No Apache 2, você deve definir <literal>UseCanonicalName = On</literal> e
        <literal>ServerName</literal>. Caso contrário, este valor refletirá
        o nome do servidor fornecido pelo cliente, que pode ser forjado.
        Não é seguro confiar neste valor em contextos que dependam de segurança.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SOFTWARE</varname>'</term>
     <listitem>
      <simpara>
       A string de identificação do servidor, fornecida nos headers quando
       respondendo a requests.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_PROTOCOL</varname>'</term>
     <listitem>
      <simpara>
       Nome e número de revisão do protocolo de informação pelo qual a
       página foi requerida, por exemplo <literal>HTTP/1.0</literal>;
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_METHOD</varname>'</term>
     <listitem>
      <simpara>
       Contém o método de request utilizando para acessar a página. Geralmente '<literal>'GET'</literal>',
       '<literal>'HEAD'</literal>', '<literal>'POST'</literal>' ou '<literal>'PUT'</literal>'.
      </simpara>
      <note>
       <para>
        O script PHP é terminado depois de enviado cabeçalhos (significa depois de
        produzir alguma saída sem saída do buffer) se o método da requisição
        for <literal>HEAD</literal>.
       </para>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_TIME</varname>'</term>
     <listitem>
      <simpara>
       O timestamp do início da requisição.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_TIME_FLOAT</varname>'</term>
     <listitem>
      <simpara>
       O timestamp, com precisão em microsegundos, do início da requisição.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>QUERY_STRING</varname>'</term>
     <listitem>
      <simpara>
       A query string, se houver, pela qual a página foi acessada.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>DOCUMENT_ROOT</varname>'</term>
     <listitem>
      <simpara>
       O diretório raiz sob onde o script atual é
       executado, como definido no arquivo de configuração do servidor.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>HTTPS</varname>'</term>
     <listitem>
      <simpara>
       Define para um valor não vazio se o script foi requisitado através do protocolo
       HTTPS.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_ADDR</varname>'</term>
     <listitem>
      <simpara>
       O endereço IP de onde o usuário está visualizando a página
       atual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_HOST</varname>'</term>
     <listitem>
      <simpara>
       O nome do host que o usuário utilizou para chamar a página
       atual. O DNS reverso (lookup) do
       <varname>REMOTE_ADDR</varname> do usuário.
      </simpara>
      <note>
       <simpara>
        Seu servidor web precisa estar configurado para criar essa variável. Por
        exemplo, no Apache você precisa colocar um <literal>HostnameLookups On</literal>
        dentro do &httpd.conf;. Veja também
        <function>gethostbyaddr</function>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_PORT</varname>'</term>
     <listitem>
      <simpara>
       A porta TCP na máquina do usuário utilizada para comunicação com
       o servidor web.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
        O usuário autenticado
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REDIRECT_REMOTE_USER</varname>'</term>
     <listitem>
      <simpara>
        O usuário autenticado utilizado se a requisição foi redirecionada internamente.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SCRIPT_FILENAME</varname>'</term>
     <listitem>
      <para>
       O caminho absoluto do script atualmente em execução.
       <note>
        <para>
         Se o script for executado pela CLI com um caminho relativo,
         como <filename>file.php</filename> ou
         <filename>../file.php</filename>,
         <varname>$_SERVER['SCRIPT_FILENAME']</varname> irá
         conter o caminho relativo especificado pelo usuário.
        </para>
       </note>
      </para>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_ADMIN</varname>'</term>
     <listitem>
      <simpara>
       O valor fornecido pela diretiva SERVER_ADMIN (do Apache) no
       arquivo de configuração do servidor. Se o script está sendo executado
       em um host virtual, este será os valores definidos para aquele
       host virtual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_PORT</varname>'</term>
     <listitem>
      <simpara>
       A porta na máquina servidora utilizada pelo servidor web
       para comunicação. Como default, este valor é '<literal>'80'</literal>'.
       Utilizando SSL, entretanto, mudará esse valor para a porta de comunicação
       segura HTTP.
      </simpara>
      <note>
       <simpara>
        Utilizando o Apache 2, você deve configurar <literal>UseCanonicalName = On</literal>,
        assim como <literal>UseCanonicalPhysicalPort = On</literal> para
        obter a porta física (real), caso contrário, este valor pode ser falsificado e pode,
        ou não, retornar como valor a porta física.
        Não é seguro confiar neste valor em contextos que dependem de segurança.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SERVER_SIGNATURE</varname>'</term>
     <listitem>
      <simpara>
       String contendo a versão do servidor e nome do host virtual
       que é adicionado às páginas geradas no servidor, se ativo.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_TRANSLATED</varname>'</term>
     <listitem>
      <simpara>
       O caminho real do script relativo ao sistema de arquivos
       (não o document root), depois realizou todos os mapeamentos
       de caminhos (virtual-to-real).
      </simpara>
      <note>
       <simpara>
        Usuários do Apache 2 podem usar <literal>AcceptPathInfo = On</literal> dentro do
        <filename>httpd.conf</filename> para definir o <envar>PATH_INFO</envar>.
       </simpara>
      </note>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>SCRIPT_NAME</varname>'</term>
     <listitem>
      <simpara>
       Contém o caminho completo do script atual. Útil para páginas
       que precisam apontar para elas mesmas (dinamicamente).
       A constante <link linkend="language.constants.predefined">__FILE__</link>
       contém o caminho completo e nome do arquivo (mesmo incluído)
       atual.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>REQUEST_URI</varname>'</term>
     <listitem>
      <simpara>
       O URI fornecido para acessar a página atual, por
       exemplo, '<literal>/index.html</literal>'.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_DIGEST</varname>'</term>
     <listitem>
      <simpara>
       Quando executando no Apache como módulo fazendo autenticação HTTP
       esta variável é definida para o cabeçalho 'Authorization' enviado pelo
       cliente (que você pode então usar para fazer apropriada validação).
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_USER</varname>'</term>
     <listitem>
      <simpara>
       Quando efetuando autenticação HTTP, esta variável estará definida com o username
       fornecido pelo usuário.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PHP_AUTH_PW</varname>'</term>
     <listitem>
      <simpara>
       Quando efetuando autenticação HTTP, esta variável estará definida com a senha
       fornecida pelo usuário.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>AUTH_TYPE</varname>'</term>
     <listitem>
      <simpara>
       Quando efetuando autenticação HTTP, esta
       variável estará definida com o tipo de autenticação utilizado.
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Contém qualquer informação fornecida pelo usuário, se disponível,
       que levam ao nome do script atual, precedendo a query
       string. Por exemplo, se o script atual fosse acessado via
       URL <filename>http://www.example.com/php/path_info.php/some/stuff?fkoo=bar</filename>,
       então <varname>$_SERVER['PATH_INFO']</varname>teria como
       valor <literal>/some/stuff</literal>
      </simpara>
     </listitem>
    </varlistentry>

    <varlistentry>
     <term>'<varname>ORIG_PATH_INFO</varname>'</term>
     <listitem>
      <simpara>
       Versão original do '<varname>PATH_INFO</varname>' antes de ser processada pelo
       PHP.
      </simpara>
     </listitem>
    </varlistentry>

   </variablelist>
  </para>
 </refsect1>

 <refsect1 role="examples">
  &reftitle.examples;
  <para>
   <example xml:id="variable.server.basic">
    <title>Exemplo da <varname>$_SERVER</varname></title>
    <programlisting role="php">
<![CDATA[
<?php
echo $_SERVER['SERVER_NAME'];
?>
]]>
    </programlisting>
    &example.outputs.similar;
    <screen>
<![CDATA[
www.example.com
]]>
    </screen>
   </example>
  </para>
 </refsect1>

 <refsect1 role="notes">
  &reftitle.notes;
  &note.is-superglobal;
 </refsect1>

 <refsect1 role="seealso">
  &reftitle.seealso;
  <para>
   <simplelist>
    <member><link linkend="book.filter">A extensão filter</link></member>
   </simplelist>
  </para>
 </refsect1>

</phpdoc:varentry>
<!-- Keep this comment at the end of the file
Local variables:
mode: sgml
sgml-omittag:t
sgml-shorttag:t
sgml-minimize-attributes:nil
sgml-always-quote-attributes:t
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
sgml-parent-document:nil
sgml-default-dtd-file:"~/.phpdoc/manual.ced"
sgml-exposed-tags:nil
sgml-local-catalogs:nil
sgml-local-ecat-files:nil
End:
vim600: syn=xml fen fdm=syntax fdl=2 si
vim: et tw=78 syn=sgml
vi: ts=1 sw=1
-->

